* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

section {
  padding: 25px 0 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  max-width: 920px;
  margin: 0 auto;
}

.find {
  width: 300px;
  height: 25px;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 0.5px solid rgb(147, 132, 132);
}

.find:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.count {
  display: flex;
  justify-content: space-between;
}

.cnt {
  width: 15px;
}

.reset {
  width: 45px;
  height: 25px;
  border: 0.5px solid rgb(65, 61, 61);
  background-color: rgb(174, 160, 160);
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
  margin-left: 5px;
}

.reset:hover {
  background-color: rgb(210, 188, 188);
}

button {
  width: 45px;
  height: 25px;
  margin-left: 30px;
  cursor: pointer;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.textbox {
  width: 300px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
}

h2 {
  margin-bottom: 10px;
  width: 290px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input {
  margin-top: 10px;
}

.checked {
  background-color: rgb(98, 94, 89);
  color: beige;
}

@media (max-width: 920px) {
  .container {
    max-width: 90%;
  }
} ;
